In [3]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
#from census import Census
from us import states

# Census API key
# from courtCensusKey import censusKey

ModuleNotFoundError: No module named 'us'

In [7]:
#Import Data
#from https://simplemaps.com/data/us-zips

lat_lng_data = pd.read_csv("Resources/international_lat_lng.csv")
lat_lng_data

                       COUNTRY_NAME      LAT       LNG             LAT,LNG
0                    EUROPEAN UNION  54.5400   25.1900        54.54, 25.19
1             PACIFIC RIM COUNTIRES  12.8797  121.7740    12.8797, 121.774
2                             NAFTA  47.1164 -101.2996  47.1164, -101.2996
3   TWENTY LATIN AMERICAN REPUBLICS  -4.4420  -61.3269    -4.442, -61.3269
4                              OECD  28.8566    2.3522     28.8566, 2.3522
5                              NATO  50.8503    4.3517     50.8503, 4.3517
6                             LAFTA -38.4161  -63.6167  -38.4161, -63.6167
7                         EURO AREA  48.6690   19.6990      48.669, 19.699
8                              APEC   1.3521  103.8198    1.3521, 103.8198
9                             ASEAN  -6.2088  106.8456   -6.2088, 106.8456
10                    NORTH AMERICA  54.5260 -105.2551   54.526, -105.2551
11                           MEXICO  23.6345 -102.5528  23.6345, -102.5528
12                           FRANCE  46.2276    2.2137     46.2276, 2.2137
13                      SWITZERLAND  46.8182    8.2275     46.8182, 8.2275
14                           EUROPE  54.5260   15.2551     54.526, 15.2551
15                          VIETNAM  14.0583  108.2772   14.0583, 108.2772
16                         MALAYSIA   4.2105  101.9758    4.2105, 101.9758
17                            CHINA  35.8617  104.1954   35.8617, 104.1954
18                             ASIA  34.0479  100.6197   34.0479, 100.6197
19                           TAIWAN  23.6978  120.9605   23.6978, 120.9605
20                           CANADA  56.1304 -106.3468  56.1304, -106.3468
21                          AUSTRIA  47.5162   14.5501    47.5162, 14.5501
22                            INDIA  20.5937   78.9629    20.5937, 78.9629
23                          GERMANY  52.5200   13.4050       52.52, 13.405
24                         CAFTA-DR   9.7489   83.7534     9.7489, 83.7534
25               DOMINICAN REPUBLIC  18.7357  -70.1627   18.7357, -70.1627
26                  CENTRAL AMERICA  12.7690  -85.6024    12.769, -85.6024
27                          ESTONIA  58.5953   25.0136    58.5953, 25.0136
28                           BRAZIL -14.2350  -51.9253   -14.235, -51.9253
29                    SOUTH AMERICA  -8.7832  -55.4916   -8.7832, -55.4916
30                            ITALY  41.8719   12.5674    41.8719, 12.5674
31                   UNITED KINGDOM  55.3781   -3.4350     55.3781, -3.435
32                        HONG KONG  22.3193  114.1694   22.3193, 114.1694
33                        SRI LANKA   7.8731   80.7718     7.8731, 80.7718
34                         THAILAND  15.8700  100.9925     15.87, 100.9925
35                        INDONESIA   0.7893  113.9213    0.7893, 113.9213

In [13]:
import2019 = pd.read_csv("Resources/importData2019.csv")
import2019

,SUMMARY_LEVEL,SUMMARY_LEVEL_2,COUNTRY_CODE,COUNTRY_NAME,COUNTRY_SUBCODE,GENERAL_VALUES_MONTH,GENERAL_VALUES_YEAR,DISTRICT,DISTRICT_NAME,MONTHLY_CONSUMPTION_VALUE,YEARLY_CONSUMPTION_VALUE,COMMODITY_DESCRIPTION,COMMODITY,YEAR,MONTH
0,CGP,HSCYCSDT,0003,EUROPEAN UNION,00,86406,86406,41,"CLEVELAND, OH",86406,86406,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,1
1,CGP,HSCYCSDT,0014,PACIFIC RIM COUNTRIES,00,268698,268698,4,"BOSTON, MA",268698,268698,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,1
2,CGP,HSCYCSDT,0014,PACIFIC RIM COUNTRIES,00,336,336,7,"OGDENSBURG, NY",336,336,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,1
3,CGP,HSCYCSDT,0014,PACIFIC RIM COUNTRIES,00,790,790,9,"BUFFALO, NY",790,790,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,1
4,CGP,HSCYCSDT,0014,PACIFIC RIM COUNTRIES,00,3801253,3801253,10,"NEW YORK CITY, NY",3801253,3801253,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7693,CGP,HSCYDT,5XXX,ASIA,-,0,380560,41,"CLEVELAND, OH",0,380560,SURGICAL GLOVES OF NATURAL RUBBER,4015110110,2019,12
7694,CGP,HSCYDT,5XXX,ASIA,-,0,111785,45,"ST. LOUIS, MO",0,111785,SURGICAL GLOVES OF NATURAL RUBBER,4015110110,2019,12
7695,CGP,HSCYDT,5XXX,ASIA,-,0,1130,53,"HOUSTON-GALVESTON, TX",0,1130,SURGICAL GLOVES OF NATURAL RUBBER,4015110110,2019,12
7696,CGP,HSCYDT,5XXX,ASIA,-,0,13800,54,"WASHINGTON, DC",0,13800,SURGICAL GLOVES OF NATURAL RUBBER,4015110110,2019,12
7697,CGP,HSCYDT,5XXX,ASIA,-,82775,405460,55,"DALLAS-FORT WORTH, TX",82775,405460,SURGICAL GLOVES OF NATURAL RUBBER,4015110110,2019,12

In [14]:
merged_2019importData = pd.merge(import2019, lat_lng_data, on ='COUNTRY_NAME', how="inner")
merged_2019importData

,SUMMARY_LEVEL,SUMMARY_LEVEL_2,COUNTRY_CODE,COUNTRY_NAME,COUNTRY_SUBCODE,GENERAL_VALUES_MONTH,GENERAL_VALUES_YEAR,DISTRICT,DISTRICT_NAME,MONTHLY_CONSUMPTION_VALUE,YEARLY_CONSUMPTION_VALUE,COMMODITY_DESCRIPTION,COMMODITY,YEAR,MONTH,LAT,LNG,"LAT,LNG"
0,CGP,HSCYCSDT,0003,EUROPEAN UNION,00,86406,86406,41,"CLEVELAND, OH",86406,86406,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,1,54.5400,25.1900,"54.54, 25.19"
1,CGP,HSCYDT,0003,EUROPEAN UNION,-,86406,86406,41,"CLEVELAND, OH",86406,86406,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,1,54.5400,25.1900,"54.54, 25.19"
2,CGP,HSCYCSDT,0003,EUROPEAN UNION,00,0,86406,41,"CLEVELAND, OH",0,86406,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,2,54.5400,25.1900,"54.54, 25.19"
3,CGP,HSCYDT,0003,EUROPEAN UNION,-,0,86406,41,"CLEVELAND, OH",0,86406,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,2,54.5400,25.1900,"54.54, 25.19"
4,CGP,HSCYDT,0003,EUROPEAN UNION,-,207044,293450,41,"CLEVELAND, OH",207044,293450,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2019,3,54.5400,25.1900,"54.54, 25.19"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6577,DET,HSCYDT,5600,INDONESIA,-,0,8628,27,"LOS ANGELES, CA",0,8628,SURGICAL GLOVES OF NATURAL RUBBER,4015110110,2019,11,0.7893,113.9213,"0.7893, 113.9213"
6578,DET,HSCYCSDT,5600,INDONESIA,00,0,3856,10,"NEW YORK CITY, NY",0,3856,SURGICAL GLOVES OF NATURAL RUBBER,4015110110,2019,12,0.7893,113.9213,"0.7893, 113.9213"
6579,DET,HSCYCSDT,5600,INDONESIA,00,0,8628,27,"LOS ANGELES, CA",0,8628,SURGICAL GLOVES OF NATURAL RUBBER,4015110110,2019,12,0.7893,113.9213,"0.7893, 113.9213"
6580,DET,HSCYDT,5600,INDONESIA,-,0,3856,10,"NEW YORK CITY, NY",0,3856,SURGICAL GLOVES OF NATURAL RUBBER,4015110110,2019,12,0.7893,113.9213,"0.7893, 113.9213"
6581,DET,HSCYDT,5600,INDONESIA,-,0,8628,27,"LOS ANGELES, CA",0,8628,SURGICAL GLOVES OF NATURAL RUBBER,4015110110,2019,12,0.7893,113.9213,"0.7893, 113.9213"

In [44]:
df2019 = merged_2019importData[["COUNTRY_NAME","LAT", "LNG", "COMMODITY_DESCRIPTION", "COMMODITY","YEARLY_CONSUMPTION_VALUE", "DISTRICT_NAME"]]
df2019

,COUNTRY_NAME,LAT,LNG,COMMODITY_DESCRIPTION,COMMODITY,YEARLY_CONSUMPTION_VALUE,DISTRICT_NAME
0,EUROPEAN UNION,54.5400,25.1900,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,86406,"CLEVELAND, OH"
1,EUROPEAN UNION,54.5400,25.1900,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,86406,"CLEVELAND, OH"
2,EUROPEAN UNION,54.5400,25.1900,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,86406,"CLEVELAND, OH"
3,EUROPEAN UNION,54.5400,25.1900,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,86406,"CLEVELAND, OH"
4,EUROPEAN UNION,54.5400,25.1900,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,293450,"CLEVELAND, OH"
...,...,...,...,...,...,...,...
6577,INDONESIA,0.7893,113.9213,SURGICAL GLOVES OF NATURAL RUBBER,4015110110,8628,"LOS ANGELES, CA"
6578,INDONESIA,0.7893,113.9213,SURGICAL GLOVES OF NATURAL RUBBER,4015110110,3856,"NEW YORK CITY, NY"
6579,INDONESIA,0.7893,113.9213,SURGICAL GLOVES OF NATURAL RUBBER,4015110110,8628,"LOS ANGELES, CA"
6580,INDONESIA,0.7893,113.9213,SURGICAL GLOVES OF NATURAL RUBBER,4015110110,3856,"NEW YORK CITY, NY"
6581,INDONESIA,0.7893,113.9213,SURGICAL GLOVES OF NATURAL RUBBER,4015110110,8628,"LOS ANGELES, CA"

In [ ]:
#5 commodities
#group by country_name, then commodity, then find the sum per commodity per country

df2019 = df2019.groupby(["COUNTRY_NAME","COMMODITY"]).sum("YEARLY_CONSUMPTION_VALUE")

df2019.sum("YEARLY_CONSUMPTION_VALUE").groupby([""COUNTRY_NAME","COMMODITY"])
df2019

In [32]:
df2019 = df2019.groupby(["COUNTRY_NAME","COMMODITY"]).YEARLY_CONSUMPTION_VALUE
df2019
#.sum("YEARLY_CONSUMPTION_VALUE")

AttributeError: 'DataFrameGroupBy' object has no attribute 'groupby'

In [33]:
df2019 = df2019.groupby(["COUNTRY_NAME","COMMODITY"])

AttributeError: 'DataFrameGroupBy' object has no attribute 'groupby'

In [15]:
import2020 = pd.read_csv("Resources/importData2020.csv")
import2020

,SUMMARY_LEVEL,SUMMARY_LEVEL_2,COUNTRY_CODE,COUNTRY_NAME,COUNTRY_SUBCODE,GENERAL_VALUES_MONTH,GENERAL_VALUES_YEAR,DISTRICT,DISTRICT_NAME,MONTHLY_CONSUMPTION_VALUE,YEARLY_CONSUMPTION_VALUE,COMMODITY_DESCRIPTION,COMMODITY,YEAR,MONTH
0,CGP,HSCYCSDT,0003,EUROPEAN UNION,00,106774,106774,41,"CLEVELAND, OH",106774,106774,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2020,1
1,CGP,HSCYCSDT,0014,PACIFIC RIM COUNTRIES,00,100359,100359,4,"BOSTON, MA",100359,100359,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2020,1
2,CGP,HSCYCSDT,0014,PACIFIC RIM COUNTRIES,00,2782365,2782365,10,"NEW YORK CITY, NY",2782365,2782365,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2020,1
3,CGP,HSCYCSDT,0014,PACIFIC RIM COUNTRIES,00,221603,221603,13,"BALTIMORE, MD",221603,221603,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2020,1
4,CGP,HSCYCSDT,0014,PACIFIC RIM COUNTRIES,00,407135,407135,16,"CHARLESTON, SC",407135,407135,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2020,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8449,CGP,HSCYDT,5XXX,ASIA,-,498834,5626171,39,"CHICAGO, IL",498834,5626171,SURGICAL GLOVES OF NATURAL RUBBER,4015110110,2020,12
8450,CGP,HSCYDT,5XXX,ASIA,-,0,14944,41,"CLEVELAND, OH",0,14944,SURGICAL GLOVES OF NATURAL RUBBER,4015110110,2020,12
8451,CGP,HSCYDT,5XXX,ASIA,-,283170,2317676,45,"ST. LOUIS, MO",283170,2317676,SURGICAL GLOVES OF NATURAL RUBBER,4015110110,2020,12
8452,CGP,HSCYDT,5XXX,ASIA,-,225300,225300,53,"HOUSTON-GALVESTON, TX",225300,225300,SURGICAL GLOVES OF NATURAL RUBBER,4015110110,2020,12
8453,CGP,HSCYDT,5XXX,ASIA,-,0,279005,55,"DALLAS-FORT WORTH, TX",0,279005,SURGICAL GLOVES OF NATURAL RUBBER,4015110110,2020,12

In [24]:
merged_2020importData = pd.merge(import2020, lat_lng_data, on ='COUNTRY_NAME', how="inner")
merged_2020importData

,SUMMARY_LEVEL,SUMMARY_LEVEL_2,COUNTRY_CODE,COUNTRY_NAME,COUNTRY_SUBCODE,GENERAL_VALUES_MONTH,GENERAL_VALUES_YEAR,DISTRICT,DISTRICT_NAME,MONTHLY_CONSUMPTION_VALUE,YEARLY_CONSUMPTION_VALUE,COMMODITY_DESCRIPTION,COMMODITY,YEAR,MONTH,LAT,LNG,"LAT,LNG"
0,CGP,HSCYCSDT,0003,EUROPEAN UNION,00,106774,106774,41,"CLEVELAND, OH",106774,106774,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2020,1,54.5400,25.1900,"54.54, 25.19"
1,CGP,HSCYDT,0003,EUROPEAN UNION,-,106774,106774,41,"CLEVELAND, OH",106774,106774,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2020,1,54.5400,25.1900,"54.54, 25.19"
2,CGP,HSCYDT,0003,EUROPEAN UNION,-,125288,232062,41,"CLEVELAND, OH",125288,232062,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2020,2,54.5400,25.1900,"54.54, 25.19"
3,CGP,HSCYCSDT,0003,EUROPEAN UNION,00,125288,232062,41,"CLEVELAND, OH",125288,232062,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2020,2,54.5400,25.1900,"54.54, 25.19"
4,CGP,HSCYCSDT,0003,EUROPEAN UNION,00,1168,1168,10,"NEW YORK CITY, NY",1168,1168,"GLOVES,SEAMLESS,SURGICAL & MEDICAL,OF PLASTIC",3926201010,2020,3,54.5400,25.1900,"54.54, 25.19"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7151,DET,HSCYDT,5420,SRI LANKA,-,0,2737355,16,"CHARLESTON, SC",0,2737355,SURGICAL GLOVES OF NATURAL RUBBER,4015110110,2020,12,7.8731,80.7718,"7.8731, 80.7718"
7152,DET,HSCYDT,5420,SRI LANKA,-,0,929990,17,"SAVANNAH, GA",0,929990,SURGICAL GLOVES OF NATURAL RUBBER,4015110110,2020,12,7.8731,80.7718,"7.8731, 80.7718"
7153,DET,HSCYDT,5420,SRI LANKA,-,2024,24404,23,"LAREDO, TX",2024,24404,SURGICAL GLOVES OF NATURAL RUBBER,4015110110,2020,12,7.8731,80.7718,"7.8731, 80.7718"
7154,DET,HSCYDT,5420,SRI LANKA,-,16560,310025,24,"EL PASO, TX",16560,310025,SURGICAL GLOVES OF NATURAL RUBBER,4015110110,2020,12,7.8731,80.7718,"7.8731, 80.7718"
7155,DET,HSCYDT,5420,SRI LANKA,-,18184,871652,28,"SAN FRANCISCO, CA",18184,871652,SURGICAL GLOVES OF NATURAL RUBBER,4015110110,2020,12,7.8731,80.7718,"7.8731, 80.7718"

In [26]:
merged_2020importData = merged_2020importData.groupby(["COUNTRY_NAME","COMMODITY"]).agg({"YEARLY_CONSUMPTION_VALUE"['sum']})
df2020 = merged_2020importData.columns['COMMODITY_TOTAL']
df2020

<>:1: SyntaxWarning: str indices must be integers or slices, not str; perhaps you missed a comma?
<>:1: SyntaxWarning: str indices must be integers or slices, not str; perhaps you missed a comma?
<ipython-input-26-4922b8e0e361>:1: SyntaxWarning: str indices must be integers or slices, not str; perhaps you missed a comma?
  merged_2020importData = merged_2020importData.groupby(["COUNTRY_NAME","COMMODITY"]).agg({"YEARLY_CONSUMPTION_VALUE"['sum']})

TypeError: string indices must be integers

In [36]:
from sqlalchemy import create_engine
import pandas as pd

In [39]:
engine = create_engine("sqlite:///Resources/data/importexport.db", echo=True)
conn = engine.connect()

2021-02-07 15:19:10,419 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-02-07 15:19:10,443 INFO sqlalchemy.engine.base.Engine ()
2021-02-07 15:19:10,451 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-02-07 15:19:10,452 INFO sqlalchemy.engine.base.Engine ()

In [ ]:
# Create covid 2020 table - note that if we use automap_base, the table must have primary key!
conn.execute("""
    CREATE TABLE IF NOT EXISTS covid2020 (
    ID INT PRIMARY KEY,
    day DATE,
    state VARCHAR,
    fips INT,
    cases INT,
    deaths INT,
    year INT,
    month INT
    )
""")